/* Reponsive e chỉ mới làm đc bằng media thôi còn bằng flex e chưa làm được ạ*/

@media (min-width: 723px) and (max-width: 1023px) {
    .container {
        flex-wrap: wrap;
    }

    .price-table {
        margin-top: 62px;
        margin-right: 12px;
    }
}

@media (max-width: 736px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .price-table {
        margin-top: 62px;
    }
}
