@media (min-width: 723px) and (max-width: 1023px) {
    .container {
        flex-wrap: wrap;
    }

    .price-table {
        margin-top: 62px;
        .price-table {
            margin-top: 62px;
        }
    }
}

@media (max-width: 736px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .price-table {
        margin-top: 62px;
    }
}
